header {
  background: rgb(0, 143, 118);
  height: 100px;
}
header .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header .nav__list {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
header .nav__list-item {
  list-style-type: none;
}
header .nav__list-item-link {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}
header .nav__list-item-btn {
  border: 1px solid white;
  padding: 18px;
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container {
  width: 1157px;
  margin: 0 auto;
}

.section-1 {
  background: linear-gradient(180deg, #ffffff 0%, #f6f5ff 100%);
}
.section-1 .hero {
  width: 100%;
}
.section-1 .hero__text-1 {
  font-size: 16px;
  text-align: center;
  padding-top: 90px;
}
.section-1 .hero__text-1-color {
  color: rgb(0, 143, 118);
  font-weight: 700;
  line-height: 24px;
}
.section-1 .hero__title {
  font-size: 53px;
  font-weight: 400;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -10px;
}
.section-1 .hero__title-color {
  color: rgb(0, 143, 118);
}
.section-1 .hero__btn-1 {
  margin-top: 48px;
  width: 200px;
  height: 50px;
  background: rgb(0, 143, 118);
  align-items: center;
  font-size: 16px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
  color: white;
  margin-left: 350px;
}
.section-1 .hero__btn-1-img-1 {
  margin-left: 10px;
}
.section-1 .hero__btn-2 {
  margin-top: 48px;
  width: 250px;
  height: 50px;
  background: linear-gradient(180deg, #ffffff 0%, #f6f5ff 100%);
  font-size: 16px;
  align-items: center;
  color: rgb(0, 143, 118);
  border: 1px solid rgb(0, 143, 118);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-left: 30px;
}
.section-1 .hero__btn-2-img-2 {
  margin-left: 10px;
}
.section-1 .hero .hero__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.section-1 .hero .hero__cards-card-1-img-1 {
  margin-left: 15px;
}
.section-1 .hero .hero__cards-card-1-img-2 {
  margin-left: -17px;
  margin-top: 100px;
}
.section-1 .hero .hero__cards-card-2 {
  margin-top: 100px;
  margin-left: 20px;
}
.section-1 .hero .hero__cards-card-3-img-2 {
  margin-top: 70px;
}
.section-1 .hero .hero__cards-card-4 {
  margin-top: 100px;
  margin-left: -50px;
}
.section-1 .hero .hero__cards-card-5-img-1 {
  margin-left: 15px;
}
.section-1 .hero .hero__cards-card-5-img-2 {
  margin-left: -17px;
  margin-top: 100px;
}

.section-2 {
  background: linear-gradient(180deg, #F6F5FF 0%, #FFFFFF 100%);
}

.info__title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
.info__title-color {
  color: rgb(0, 143, 118);
}
.info .info__cards {
  display: flex;
  width: 1157px;
  justify-content: space-between;
}
.info .info__cards .info__cards-card {
  padding: 30px;
  width: 490px;
  height: 210px;
  box-shadow: 2px 12px 10px 0px grey;
}
.info .info__cards .info__cards-card-mini {
  display: flex;
  margin-top: 40px;
}
.info .info__cards .info__cards-card-mini-span {
  margin-left: 20px;
}
.info .info__cards .info__cards-card-mini-span-text-2 {
  color: grey;
}
.info .info__cards .info__cards-card-2 {
  padding: 30px;
  width: 490px;
  height: 210px;
  box-shadow: 2px 12px 10px 0px grey;
}
.info .info__cards .info__cards-card-2-mini-2 {
  display: flex;
  margin-top: 40px;
}
.info .info__cards .info__cards-card-2-mini-2-span-2 {
  margin-left: 20px;
}
.info .info__cards .info__cards-card-2-mini-2-span-2-text-2 {
  color: grey;
}

.section-3 .radio {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 190px auto;
}
.section-3 .radio__card {
  width: 300px;
  display: flex;
  height: 300px;
}
.section-3 .radio__card-texts {
  margin-left: 25px;
  margin-top: -19px;
}
.section-3 .radio__card-texts-title {
  font-size: 29px;
  font-weight: 900;
}
.section-3 .radio__card-texts-text {
  color: grey;
}

.section-4 {
  background: white;
}
.section-4 .infocard {
  margin-top: -150px;
}
.section-4 .infocard__texts-1 {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
}
.section-4 .infocard__text {
  font-size: 17px;
  color: grey;
  letter-spacing: 1px;
}
.section-4 .infocard__cards {
  display: flex;
  justify-content: space-between;
}
.section-4 .infocard__cards-card {
  padding: 30px;
  width: 490px;
  height: 210px;
  box-shadow: 2px 12px 10px 0px grey;
}
.section-4 .infocard__cards-card-mini {
  display: flex;
}
.section-4 .infocard__cards-card-mini-span {
  margin-left: 15px;
}
.section-4 .infocard__cards-card-mini-span-text {
  color: grey;
}
.section-4 .infocard__images {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-left: 490px;
  margin-top: 100px;
  padding: 0 30px;
  cursor: pointer;
}

.about-us {
  margin-top: 100px;
}
.about-us__text-title {
  font-size: 18px;
  font-weight: 700;
}
.about-us__text-texts {
  color: grey;
}
.about-us__cards {
  display: flex;
  justify-content: space-between;
}
.about-us__cards-card-1 {
  background-image: url("../images/img-1.png");
  background-size: contain;
  height: 500px;
  width: 370px;
  background-repeat: no-repeat;
}
.about-us__cards-card-2 {
  background-image: url("../images/img-2.png");
  background-size: contain;
  height: 500px;
  width: 370px;
  background-repeat: no-repeat;
}
.about-us__cards-card-3 {
  background-image: url("../images/img-3.png");
  background-size: contain;
  height: 500px;
  width: 370px;
  background-repeat: no-repeat;
}

.pages__title {
  font-size: 32px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}
.pages__title-color {
  color: rgb(0, 143, 118);
}
.pages__text-1 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: grey;
}
.pages__btn {
  width: 290px;
  height: 96px;
  border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  background: rgb(0, 143, 118);
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 430px;
  margin-top: 30px;
}
.pages__text-2 {
  padding-left: 560px;
  font-size: 20px;
  color: grey;
  padding-top: 20px;
}
.pages__btn-2 {
  width: 210px;
  height: 96px;
  border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  margin-left: 470px;
  border-color: rgb(0, 143, 118);
  background-color: white;
  font-size: 20px;
  color: rgb(0, 143, 118);
}

.foot-nav__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.foot-nav__cards-card-span-1 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
}
.foot-nav__cards-card-span-2 {
  margin-left: 20px;
  width: 100px;
}
.foot-nav__cards-card-2 {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.foot-nav__cards-card-2-text-mini {
  color: grey;
}
.foot-nav__head {
  width: 1486px;
  height: 70px;
  background: rgb(0, 143, 118);
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

.section-3 .radio {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 190px auto;
}
.section-3 .radio__card {
  width: 300px;
  display: flex;
  height: 300px;
}
.section-3 .radio__card-texts {
  margin-left: 25px;
  margin-top: -19px;
}
.section-3 .radio__card-texts-title {
  font-size: 29px;
  font-weight: 900;
}
.section-3 .radio__card-texts-text {
  color: grey;
}

.about-us {
  margin-top: 100px;
}
.about-us__text-title {
  font-size: 18px;
  font-weight: 700;
}
.about-us__text-texts {
  color: grey;
}
.about-us__cards {
  display: flex;
  justify-content: space-between;
}
.about-us__cards-card-1 {
  background-image: url("../images/img-1.png");
  background-size: contain;
  height: 500px;
  width: 370px;
  background-repeat: no-repeat;
}
.about-us__cards-card-2 {
  background-image: url("../images/img-2.png");
  background-size: contain;
  height: 500px;
  width: 370px;
  background-repeat: no-repeat;
}
.about-us__cards-card-3 {
  background-image: url("../images/img-3.png");
  background-size: contain;
  height: 500px;
  width: 370px;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */