header{
    background: rgba(0, 143, 118, 1);
    height: 100px;

    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        &__list{
            display: flex;
            width: 70%;
            justify-content: space-between;

            &-item{
                list-style-type: none;

                &-link{
                    text-decoration: none;
                    color: white;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    letter-spacing: 1px;
                    font-weight: 600;
                }
                &-btn{
                    border: 1px solid white;
                    padding: 18px;
                    text-decoration: none;
                    color: white;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    letter-spacing: 1px;
                    font-weight: 600;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
}
            }
        }
    }
}